/* Default */
.swiper-slide {
  transition: all 0.5s ease;
  opacity: 0.4;
  transform: scale(0.9);
}

/* Side slides */
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.6;
  transform: scale(0.95);
}

/* Active center slide */
.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}
